2_News_Summary/news_summary.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "chatId": "901683537",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        0
      ],
      "id": "ebbdc4a0-1d14-4d02-bcaa-39b96274328a",
      "name": "Send a text message",
      "webhookId": "adebd1da-bda0-45d5-8e27-6bdb3a26682e"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?category=technology&country=us&apiKey={{$env.NEWS_API_KEY}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7151a175-4204-4d5a-9ac5-980e847dc9b1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = items[0].json.articles;\n\nlet text = \"📰 Top Tech News Today:\\n\\n\";\n\nfor (let i = 0; i < 5; i++) {\n  text += `${i + 1}. ${articles[i].title}\\n`;\n  text += `${articles[i].description}\\n\\n`;\n}\n\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "9b46bb03-75ef-460f-8c54-d48732d02210",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "claude-opus-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize the news in bullet points:\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "a9721552-a90a-4b68-b493-b72e3e0301ae",
      "name": "Message a model"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8ee1f1eb-e130-4b77-9983-0bd385a2f5d8",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}